    @import url('https://fonts.googleapis.com/css2?family=Iceberg&family=Smooch&display=swap');

 /*{color: white;}*/

    *{font-family: 'Iceberg', cursive;}


    body{ 
    background-color: black;                  
     background-attachment: fixed  ;
       background-repeat: no-repeat;
         text-align: center;
                  }

        ul{
         background-image: url(..//img//fondopersonajesvideogames.jpg);
         background-repeat: no-repeat;
         background-size: 100%;
         border-radius: 10px;
          display:inline-block;
             /*background-color:;*/           
                padding: 0rem 10rem 50rem 10rem;
                 margin: 9rem 0rem -20rem 0rem;
                           }

   nav ul li{ 
        height: 0rem;
     	  display: inline;         
            padding: 0rem 0rem 0rem 0rem;
             margin: 0rem 3rem 0rem 3rem;
                           }


       nav ul li a:hover{
      
        border-radius: .6rem;
        transition: all 1s;
          background-color: salmon;
          font-size: 1.1rem;
 	      text-decoration: none;
                       }
       li a{
          color: black;
           padding: 0rem -1rem 0rem -1rem;
            margin: 0rem -4rem  0rem 0rem;
             display: inline-block;
            font-size: 1rem;
            text-decoration: none;
        }

    /*nav ul li a:hover{
     box-sizing: border-box;
     border-radius: .3rem;
     background-color: orange;
       transition: all 1s;
          font-weight: 2;
                              }*/

 .maIN-HEader{
    display: flex;
 }



   .maIN-HEader{
     padding: 0rem 0rem 0rem 0rem;
     margin: 0rem 0rem 0rem 0rem;
     position: fixed;
      background-color: rgba(47, 79, 79, 0.70);
      height: 5rem;
       width: 100%;
            }



    .h1-editar{
     color: #F5F5F5;
     font-size: 3.7rem; 
      display: inline-block;
        text-align: center;         ;  
         padding: 1rem 0rem 0rem 35rem;
          margin: 0rem 0rem 0rem 0rem;
          text-shadow: -40px -10px 4px #000
                 }

   .banneR-Pyramid{
        height: 50px;
         padding: 0rem 0rem 0rem 0rem;
          margin:  0rem 0rem 0rem 0rem;       
              }


    .section-center{
     color: #F5F5F5;
       margin: 5rem 0rem 0rem 0rem;
         padding: 0rem 0rem 0rem 0rem;
                  }

   .imG-Empire{
     border-radius: 10px;
       margin: 1rem 1rem 2rem 0rem;
        height: 22.1rem;
               } 

        iframe{
         box-shadow: 1px 1px 10px 0px #E0FFFF;
         border-radius: 10px;
         margin: 0rem 1rem 2rem 0rem;
          box-sizing: border-box;
           height: 22.1rem;
                 }

         .age--oF--empire{
          box-shadow: -10px 25px 30px 0px #E0FFFF;
           border-radius: 1rem;
             text-align: left ;
              line-height: 2rem;
               display: inline-block;
                background-color: rgba(119, 136, 153, 0.5);
                font-size: 21px;
                padding: 1rem 2rem 1rem 2rem;
                margin: 0rem 9rem 0rem 6rem;
                         }

         footer form fieldset{
          color:#F5F5F5 ;
            padding: 0rem 0rem 0rem 0rem ;
             margin: 20rem 0rem 0rem 0rem ;
                             }

        footer form fieldset p{
          color: #F5F5F5;
            font-size: 1.2rem;
                 }
 .inputemaiL-li{
     border-radius: 6px;
              }

  .inputpasswoRD-li{
     border-radius: 6px;
             }

    .intputagE-Li{ 
     border-radius: 6px;

                 }         
  
  .h2-Form{
     font-size: 2rem;
      padding: 0rem 0rem 0rem 0rem;
       margin: 10rem 0rem 0rem 0rem;
        display: inline-block;
         color: white;

                       } 
 
    .forM-Resgister{
      list-style: none ;
       color: white;
        display:inline;
         padding: 0rem 0rem 0rem 0rem ;
          margin: 0rem 0rem 0rem 0rem;
                     }
 
         .emIL-Form{
            font-size: 1.3rem;
             display: block;
              padding: 0rem 0rem 1rem 0rem ;
               margin: 1rem 0rem 0rem 0rem;
                          }

          .pasworD-Form{
            font-size: 1.3rem;
             display: block;
              padding: 0rem 0rem 1rem 0rem ;
               margin: 1rem 0rem 0rem 0rem;   
               }           

                .agE-Form{
                 font-size: 1.3rem;
                  display: block;
                   padding: 0rem 0rem 1rem 0rem ;
                    margin: 1rem 0rem 0rem 0rem;
                              }

                .checkboX-Form{
                    font-size: 1.3rem;
                     display: block;
                      padding: 0rem 0rem 1rem 0rem ;
                       margin: 1rem 0rem 0rem 0rem;
                                      }

                .typE-Login{
                    cursor: pointer;
                    border-radius: .3rem;
                    background-color:rgba(240, 248, 255, 0.50) ;
                    font-size: 1.4rem;
                        }

                    .typE-Login:hover{
                      transition: all 1s;
                         font-size: 1.5rem;

                    }

                    .teX-Inicar:hover{
                         display: inline-block;
                         padding: ;
                         margin: ;
                         background-color: rgba(25, 25, 112, .90);
                                                      }

                    .useR-Png{
                         padding: 0rem 0rem 0rem 31rem;
                         margin: 0rem 0rem 0rem 0rem;
                         display: inline-block;
                        height: 3.5rem;
                             }

          .h4-Iniciar{
               padding: 0rem 0rem 0rem 31rem;
                  margin: 0rem 0rem 0rem 0rem;
                    justify-content: space-between;
                       color: white;
                             }

         .h4-Iniciar:hover{
                  color: orange;
                            }

 
             .sopRT-Form{color: white;


             }